# -------General ignore patterns (for all subfolders of the repo)------- #

# Dependencies
**/node_modules
**/.pnp
**/.pnp.js

# Secrets
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.staging.local

# Misc. .log files
**/npm-debug.log*
**/.pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/build-storybook.log*
**/*.log
**/build.output
**/deploy.output

# Runtime data
**/*.pid
**/*.seed
**/*.pid.lock

# IDE specific
**/.vscode

# OS specific
**/.DS_Store

# Production build or library dist files
**/dist
**/build
**/storybook-static

# -------Ignored contents of the root of the repo------- #

# Firebase cache
.firebase/
.emulators-data

# Firebase log files
firebase*.log
firestore*.log
ui-debug.log

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/
